
.bg-color{
	background-color: #ffffff;
}
.bg-color-1{
	background-color: #f7f7f7;
}

.bg-img{
   background-image: url(images/Rplot08.png);
background-repeat: no-repeat; 
background-size: 100%;
background-position: left top;

}


/*header*/

.header{
	position: fixed;
	top:0;
	left: 2;
	width: 100%;
	z-index: 100;
}

/*nav bar*/
.navbar{

}

.navbar--collapse{
	margin-left: -15px;
	margin-right: -15px;
}

.header-bar-1{
padding-top: 30px;
padding-bottom: 30px;

width: 100%;
float: left;
background
box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
padding-left: 5%
}

@media (max-width: 768px) {
	.header-bar{
		padding-top: 12px;
		padding-bottom:12px;
		padding-left: 30px;
	}

}
.header-bar{
padding-top: 30px;
padding-bottom: 30px;
width: 100%;
float: left;
background-color: #ffffff;
opacity: 0.85;
box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
padding-left: 5%;
}

@media (max-width: 768px) {
	.header-bar{
		padding-top: 12px;
		padding-bottom:12px;
		padding-left: 30px;
	}

}



/* header btn*/


.header-btn-1{
	color: #fefefe;
	opacity: 0.6;
	font-family:  'Helvetica','roboto','arial',sans-serif;
	font-weight: 400;
	text-decoration: none;
	position: relative;
	padding-bottom: 15px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 4px;
}

.header-btn-1:hover{
	color: #ffffff;
	opacity: 1;
	text-decoration: none;
}

.header-btn-1:active{
	color: #ffffff;
	opacity: 1;
	text-decoration: none;
}


.header-btn-1:before{
	content: "";
	width:0%;
	height:3px;
	border-radius: 3px;
	background-color: #ffffff;
	display: inline-block;
	position: absolute;
	bottom: 0%;
	left:50%;
	transform: translateX(-50%);
	transition: width 0.3s;
}

.header-btn-1:hover:before{
	width:100%;
}

.header-btn-1:active:before{
	width:100%;
}





.header-btn{
	color: #000000;
	opacity: 0.6;
	font-family:  'Helvetica','roboto','arial',sans-serif;
	font-weight: 400;
	text-decoration: none;
	position: relative;
	padding-bottom: 15px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 4px;
}

.header-btn:hover{
	color: #000000;
	opacity: 1;
	text-decoration: none;
}

.header-btn:active{
	color: #000000;
	opacity: 1;
	text-decoration: none;
}


.header-btn:before{
	content: "";
	width:0%;
	height:3px;
	border-radius: 3px;
	background-color: #000000;
	display: inline-block;
	position: absolute;
	bottom: 0%;
	left:50%;
	transform: translateX(-50%);
	transition: width 0.3s;
}

.header-btn:hover:before{
	width:100%;
}

.header-btn:active:before{
	width:100%;
}


/*main*/

.main{
padding-top: 25vh;
padding-bottom: 20vh;
}


@media (max-width: 768px) {
	.main{
		padding-top: 80px;
		padding-bottom: 80px;
	}

}

.main-1{
padding-top: 10vh;
padding-bottom: 2vh;
}

@media (max-width: 768px) {
	.main-1{
		padding-top: 80px;
		padding-bottom: 80px;
	}

}

.main-2{
	padding-top: 10vh;
padding-bottom: 2vh;
background-color: #fefefe;
}

@media (max-width: 768px) {
	.main-2{
		padding-top: 80px;
		padding-bottom: 80px;
	}

}

.heading{
	font-size: 70px;
	font-family:  'Helvetica','roboto','arial',sans-serif;
	font-weight: 400;
	text-align: left;
	color: #232323;
	opacity: 1;
	margin-left: 5%;
}

@media (max-width: 768px) {
	.heading{
		font-size: 56px;
	}

}

.heading-sub{
	margin-left: 5%;
	opacity: 1;
}


/*content*/
.content{
/*border: 1px solid #000;*/
padding: 24px;
}

.subtitle{
font-size: 32px;
padding: 25px;
font-family:  'Helvetica','roboto','arial',sans-serif;
text-align: center;
}

@media (max-width: 768px) {
	.subtitle{
		font-size: 24px;
	}

}




.box{
	border-radius: 10px;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
	background-color: #ffffff;
	margin-bottom: 50px;

}

@media (max-width: 768px) {
	.box{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

}


.group{
	padding-top: 80px;
	padding-bottom: 80px;

}


.title{
padding-top: 5%;
}



.work-card{
	padding: 24px;
	
}

.work-card-2{
	padding: 0px;
	
}

.work-card-inner{
	background-color: #fefefe;
	border-radius: 5px;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
	padding:  0px;
}

.work-card-inner:hover{
	
	opacity: 0.6;
	transform: scale(1.005);

}


.work-card-inner:active{
box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25);
}


.col{
/*border: 1px solid #000;*/
padding:15px;
}


.map{
	width: 100%;
}



.work-title{
padding: 8px;
}



.pic{
overflow: hidden;
height: 70%;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}

.pic-2{
overflow: hidden;
width: 100%;
}


.fontsize-h1{
	font-size: 48px;
	font-family:'roboto','Helvetica','arial',sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.68;
	font-weight: 300;
	
   -webkit-text-stroke-color: #222222;
   text-align: center;

	
}

.fontsize-h2{
	font-size: 16px;
	font-family:'roboto','Helvetica','arial',sans-serif;
	margin-top: 10px;
	margin-bottom: 80px;
	line-height: 1.68;
	font-weight: 300;

   -webkit-text-stroke-color: #222222;
   text-align: center;

	
}

.fontsize-h3{
	font-size: 16px;
	font-family:'roboto','Helvetica','arial',sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.68;
	font-weight: 300; 

   -webkit-text-stroke-color: #222222;
   text-align: center;

	
}

.fontsize-title{
	font-size: 16px;
	font-family:  'roboto','Helvetica','arial',sans-serif;
	font-weight: normal;
	margin-bottom: 8px;
	margin-top: 0px;
	line-height: 1.25;
	font-weight: 300;
	
   -webkit-text-stroke-color: #404040;

}

.fontsize-title-2{
	font-size: 14px;
	font-family:  'roboto','Helvetica','arial',sans-serif;
	font-weight: normal;
	margin-bottom: 0px;
	line-height: 1.25;
	margin-top:0px;
	font-weight: 300;
	
   -webkit-text-stroke-color: #404040;

}


.fontsize-subtitle{
	font-size: 12px;
	font-family: 'roboto','Helvetica','arial',sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.25;
	color: #696969;
	font-weight: 300;

}



.fontsize-1-1{
	font-size: 16px;
	font-family: 'roboto','Helvetica','arial',sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.68;
	
   -webkit-text-stroke-color: #232323;
   	font-weight: 300;

	
}

.fontsize-1{
	font-size: 16px;
	font-family: 'roboto','Helvetica','arial',sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.68;
		font-weight: 300;
	

	
}


.fontsize-2{
	font-size: 14px;
	font-family:  'roboto','Helvetica','arial',sans-serif;
	margin-top: 0px;
	margin-bottom: 15px;
	line-height: 1.68;
	color: #696969;
		font-weight: 300;

}

.fontsize-2-1{
	font-size: 12px;
	font-family: 'roboto','Helvetica','arial',sans-serif;
	margin-top: 0px;
	margin-bottom: 15px;
	line-height: 1.68;
	color: #696969;
		font-weight: 300;

}
.fontsize-3{
	font-size: 20px;
	font-family:  'roboto','Helvetica','arial',sans-serif;
	font-weight: 400;
	margin-top:8px;
	margin-bottom: 8px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.25;

	
   -webkit-text-stroke-color: #232323;

}

.fontsize-3-1{
	font-size: 18px;
	font-family: 'roboto','Helvetica','arial',sans-serif;
	font-weight: 400;
	margin-top:8px;
	margin-bottom: 8px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.68;
	
   -webkit-text-stroke-color: #232323;

}

.fontsize-3-2{
	font-size: 42px;
	font-family: 'roboto','Helvetica','arial',sans-serif;
	font-weight: 400;
	margin-top:8px;
	margin-bottom: 8px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.68;

}


.fontsize-4{
	font-size: 14px;
	font-family:  'roboto','Helvetica','arial',sans-serif;
	margin-bottom: 15px;
	margin-top: 8px;
	font-weight: 400;
	line-height: 1.68;

}

.fontsize-4-1{
	font-size: 14px;
	font-family:'roboto','Helvetica','arial',sans-serif;
	margin-bottom: 15px;
	margin-top: 8px;
	font-weight: 400;
	line-height: 1.68;
	
   -webkit-text-stroke-color: #232323;
}

.fontsize-5{
	font-size: 36px;
	font-family:  'roboto','Helvetica','arial',sans-serif;
	font-weight: 300;
	margin-top:8px;
	margin-bottom: 8px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.68;



}

.fontsize-6{
	font-size: 18px;
	font-family: 'roboto','Helvetica','arial',sans-serif;
	font-weight: 400;
	margin-top:8px;
	margin-bottom: 8px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.25;
}


.font-color-1{
	color:#01B8AA;
	font-weight: 500;
}

.font-color-2{
	color: #01B8AA;
	
}

.font-color-3{
	color: #fefefe;
}

.font-color-4{
	color: #232323;
}

.icon{
	width: 50%;

}


.font{
	font-family:'roboto','Helvetica','arial',sans-serif;
	line-height: 1.68;
		font-weight: 300;
}






.padding-2{
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 50px;
}

.padding-1{
padding-top: 5vh;
padding-bottom: 1vh;
}

.padding{
	padding: 30px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.space{
	margin-top: 70px;
}
.space-1{
	margin-top: 90px;

}
.space-2{
	margin-top: 25px;

}

.space-3{
	margin-top: 50px;
}
.text-center{
	text-align: center;
}


.center-1{
	margin: 0 auto;
	display:block;

}

.italic{
	font-style: italic;
	text-align: right;
	padding: 10px;
	color: #BFBFBF;
}

.italic-1{
	font-style: italic;
}

.bold{
	font-weight: 500;
}

.color-grey{
	color: #898989;
}
hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}


hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}


.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  font-family: 'roboto','Helvetica','arial',sans-serif;
  color: #fefefe;
  line-height: 50px;
  text-align: center;
  background: #232323;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: inline-block;
}

.inline{
	display: inline-block;

}

.bg-img-1{
	background-image: url(world-1.svg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 5%;


}



.btn-download-1{

	background-color: #232323;
	color:#f7f7f7;
	font-family: 'roboto','Helvetica','arial',sans-serif;
	font-size: 12px;
	font-weight: 400;
	border: none;
  padding: 6px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  margin-top: 30px;
  margin-left: 5%;
 
}


.btn-download-1:hover{
	background-color: rgba(35, 35, 35, 0.6);
	color:#f7f7f7;
}



.line{
	text-decoration-line: underline;

}

.opacity{
	opacity:0.6;
}

.opacity-1{
	opacity:0.8;
}

.outline{
		-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #232323;
}