
*{
	position: relative;
	box-sizing: border-box;
}

.wrapper{
	width: 100%;
	height:100%;
}

.header{
	position: fixed
	top:0;
	background-color: #f7f7f7;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.16);
	opacity: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;

}

.imagebox{
	width: 400px;
	display: inline-block;
	position: relative;
}

.imagebox .img_1{
	width: 100%;
	height: 100%;
	opacity: 0.1;
	vertical-align:top;
	background-repeat: no-repeat;
	background-position: right;
	position: absolute;
	top: 0;
	right: 0;

}

.image-inner{
width: 100%;
position: relative;
height: 0;
padding-top: 100%;

}



.icon1{
	width: 8%;
	height:8%;
	padding-right:2px;
	margin-right: 8px;
}



.cv{
	width:40%;
	display: inline-block;
	vertical-align:top;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.location{
padding-left: 40px;
padding-top: 20px;
padding-bottom: 20px;
vertical-align:top;
display: inline-block;
}

.experience{
	width: 100%
	background-color: #ffffff;
	margin-top: 40px;
	margin-left: 10%;
	margin-right: 10%;
}



}
.size1{
	font-size: 16px;
	color:#232323;

}

.size2{
	font-size: 12px;
	color:#707070;

}

.btn_1{
	color: #707070;
	text-decoration: none;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 4px;
}

.btn_1:hover{
	color: #ff9b19;
	opacity: 0.6;
	text-decoration: none;
}

.btn_1:active{
	color: #ff9b19;
	text-decoration: none;
}


.btn_1:before{
	content: "";
	width:0%;
	height:3px;
	border-radius: 3px;
	background-color: #ff9b19;
	display: inline-block;
	position: absolute;
	bottom: 0%;
	left:50%;
	transform: translateX(-50%);
	transition: width 0.3s;
}

.btn_1:hover:before{
	width:100%;
}

.btn_1:active:before{
	width:100%;
}



.btn_2{
	color: #fff;
	text-decoration: none;
	background-color: #52EED9;
	padding:10px 30px;
	font-size: 16px;
	line-height: 24px;
	display: inline-block;
	border-radius: 24px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.3);
	overflow: hidden;
}

.btn_2:before{
content: "";
position: absolute;
text-decoration: none;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 0%;
padding-top: 0%;
background-color: rgba(256,256,256,0.2);
border-radius: 50%;
transition: all 0.2s;

}

.btn_2:hover:before{
text-decoration: none;
width: 120%;
padding-top: 120%;
}
